@keyframes forwardFirst {
  0% {
    transform: scale(1, 1) translate(0, 0);
  }
  5% {
    transform: scale(1, 1) translate(2.5px, -5px);
  }
  10% {
    transform: scale(1, 1) translate(5px, 0);
  }
  15% {
    transform: scale(1, 1) translate(7.5px, -5px);
  }
  20% {
    transform: scale(1, 1) translate(10px, 0);
  }
  49.99% {
    transform: scale(1, 1) translate(10px, 0);
  }

  50% {
    transform: scale(-1, 1) translate(-130px, 0);
  }
  55% {
    transform: scale(-1, 1) translate(-127.5px, -5px);
  }
  60% {
    transform: scale(-1, 1) translate(-125px, 0);
  }
  65% {
    transform: scale(-1, 1) translate(-122.5px, -5px);
  }
  70% {
    transform: scale(-1, 1) translate(-120px, 0);
  }
  100% {
    transform: scale(-1, 1) translate(-120px, 0);
  }
}

@keyframes backwardFirst {
  0% {
    transform: scale(1, 1) translate(0, 0);
  }
  30% {
    transform: scale(1, 1) translate(0, 0);
  }
  35% {
    transform: scale(1, 1) translate(-2.5px, -5px);
  }
  40% {
    transform: scale(1, 1) translate(-5px, 0);
  }
  45% {
    transform: scale(1, 1) translate(-7.5px, -5px);
  }
  50% {
    transform: scale(1, 1) translate(-10px, 0);
  }
  79.99% {
    transform: scale(1, 1) translate(-10px, 0);
  }

  80% {
    transform: scale(-1, 1) translate(-80, 0);
  }
  85% {
    transform: scale(-1, 1) translate(-82.5px, -5px);
  }
  90% {
    transform: scale(-1, 1) translate(-85px, 0);
  }
  95% {
    transform: scale(-1, 1) translate(-87.5px, -5px);
  }
  99.99% {
    transform: scale(-1, 1) translate(-90px, 0);
  }
}

.actor
{
  position: absolute;
}

.giraffeActor
{
  composes: actor;

  animation-name: forwardFirst;
  animation-duration:  4s;
  animation-iteration-count: infinite;
}

.zebraActor
{
  composes: actor;

  animation-name: forwardFirst;
  animation-direction: reverse;
  animation-duration:  4s;
  animation-iteration-count: infinite;
}

.poa
{
  position: absolute;
}

.giraffe
{
  composes: poa;

  top: -414px;

  width: 98px;
  height: 207px;

  background: url(/giraffe.png) 0 0 no-repeat;
  background-size: cover;
  will-change: transform;
}

.zebra
{
  composes: poa;

  top: -379px;

  width: 98px;
  height: 172px;

  background: url(/zebra.png) 0 0 no-repeat;
  background-size: cover;
  will-change: transform;
}

.umbrellaBlueForGiraffe
{
  composes: poa;

  top: -455px;
  left: 10px;

  width: 76px;
  height: 84px;

  background: url(/umbrella-blue.png) 0 0 no-repeat;
  background-size: cover;
  will-change: transform;
}

.umbrellaYellowForZebra
{
  composes: poa;

  top: -410px;
  left: 30px;

  width: 65px;
  height: 72px;

  background: url(/umbrella-yellow.png) 0 0 no-repeat;
  background-size: cover;
  will-change: transform;
}

.hidden
{
  display: none;
}
